DB_USER=root
DB_PASSWORD=root
DB_NAME=chomage-go
DB_HOST=db
BETTER_AUTH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BETTER_AUTH_URL=http://backend:4000
NEXT_PUBLIC_API_URL=http://backend:4000
BACKEND_URL=http://backend:4000
FRONTEND_URL=http://frontend:3000
PORT_DB=5432
PORT_BACKEND=4000
PORT_FRONTEND=3000
PORT_PUBLIC=3000
